<!--
{% include 'component/header.html' %}
<div class="container">
    // Affichage de données avec Twig
    {% for value in NameValue %}
    <p>{{value.ColumnNameValue}}</p>
    {% endfor %}
    // Dans le href, toujours mettre le lien vers la page voulu contenu dans 'Config/routes.php'
    <a href="/Lien"></a>
    // Pour les form, l'action correspond au lien où s'execute l'action voulu
    <form method="post" action="/Lien" enctype="multipart/form-data">
</div>
{% include 'component/footer.html' %}
-->